h1= title

table
  tr
    th User
    th Name
    th Created
    th Last Authenticated
    th Updated

  - for (var u in users)
    - var user = users[u]
    tr
      td= user.user
      td= user.name
      td= user.created_at
      td= user.authenticated_at
      td= user.updated_at
      td
        a(href="/deleteuser/" + user.user) delete
      